{% extends 'otaku/base.html' %}
{% load format_filters %}
{% load static %}
{% block content %}

    <div class="contenedor-2 mt-5 mb-5">
        <div>
            <img src="{{detalle.portada.url}}">
        </div>
        <div class="textos cont">
            <p class="detalletitulo">{{detalle.nombre}}</p>
            <p>Tomo: {{detalle.volumen}}</p>
            <p>Autor: {{detalle.autor}}</p>
            <p>{{detalle.descripcion}}</p>
            <br>
            <p class="precio">Precio ${{detalle.precio|formatonumero }}</p>
            <br>
            <form action="{% url 'agregar_al_carrito' detalle.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="manga_id" value="{{ detalle.id }}">
                <button type="submit" class="btn btn-success alinear">Agregar al carrito!</button>
            </form>
        </div>
    </div>
            
</body>

{% endblock %}