{% extends 'otaku/base.html' %}
{% load static %}
{% block content %}

    <div class="contenedor-2 mt-5 mb-5">
        <div>
            <img src="{{detalle.portada.url}}">
        </div>
        <div class="textos cont">
            <p class="detalletitulo">{{detalle.nombre}}</p>
            <p>Tomo: {{detalle.volumen}}</p>
            <p>Autor: {{detalle.autor}}</p>
            <p>{{detalle.descripcion}}</p>
            <br>
            <p class="precio">Precio ${{detalle.precio}}</p>
            <br>
            <button type="button" class="btn btn-success alinear">Agregar al carrito!</button>
            <button type="button" class="btn btn-warning alinear" style="margin-left: 5%;">Agregar a Favoritos!</button>
        </div>
    </div>
            
</body>

{% endblock %}