{% extends 'otaku/base.html' %}
{% load static %}
{% block content %}


    <div class="container mt-4">
        <div class="row">
            {% for manga in mangas %}
                {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                    </div><div class="row">
                {% endif %}
                <div class="col-md-3 mb-4">
                    <div class="card alinear">
                        <img src="{{ manga.portada.url }}" class="card-img-top cuadro centrado mt-1">
                        <div class="card-body">
                            <h5 class="card-title">{{ manga.nombre  }}</h5>
                            <p class="card-text">{{ manga.autor }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Editorial: {{ manga.editorial }}</li>
                                <li class="list-group-item mt-2">
                                    <a href="{% url 'detalles' item_id=manga.id %}">
                                        <button type="button" class="btn btn-outline-success">Detalles</button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    

    {% endblock %}