{% extends 'otaku/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h5 class="mt-3 d-flex justify-content-center" style="font-size: xx-large;">LOGIN</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <input type="submit" value="Logeate!" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}